html,body{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    font-size: medium;
}
header{
    margin: 0px;
    padding: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    
}
h1{
    font-size: calc(1.375rem + 1.5vw);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}